.body { 
    font-family: Poppins;
}
.head{
   width: 15%; 
}
.btn1{
    width: 40%;
    background: transparent;
	border: none;
}
.btn2{
    width: 40%;
    background: transparent; 
	border: none;
}
.div1 {
    background-color: #70CDE3;
}
/* .header-right {
    float: right;
    color:white;
    margin:10px 50px 0px 0px;
   
  }
.header{
    width: 100%;
    color:#222;
    border-collapse:collapse;
    margin:auto;
    align-content: space-between;
    overflow: hidden;
}
.header a {
    width: 8%;
    background: transparent;
    width:100px;
    height:30px;
 
    float: left;
    color: black;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    font-size: 18px;
    border-color: none;
   
    border-radius: 4px;
   
  } */
  .img{
    width: 13%; 
    margin-left: 42%;
    padding-top: 30;
    
}
.mainclass {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
 .leftclass {
  display: flex;
  justify-content: left;
}
.rightclass {
  display: flex;
  justify-content: right;
}
.txtboxclass {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: inherit;
    font-size: 14px; /* Set font size */
    color: black; /* Set text color */
    transition: border-color 0.3s ease;
    opacity: .6;
    box-shadow: 0 5px 5px 0 rgba(14, 5, 5, 0.1), 0 5px 10px 0 rgba(14, 13, 13, 0.1);
}
.buttonclass {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #017186;
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 5px 0 rgba(14, 5, 5, 0.1), 0 5px 10px 0 rgba(14, 13, 13, 0.1);
}
.button:focus {
    background: white;
}
.button:hover {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #f00;
    height: 50px;
    width: 134px;
    text-decoration: none;
    font-variant: small-caps;
    background: #111;
}

.slider-menu div:after {
    top: -0.5799102783203125px;
    left: 1244px;
    width: 122px;
    height: 122px;
    /* UI Properties */
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
}

.box {
    --b: 5px; /* thickness of the border */
    --c: white;  /* color of the border */
    --w: 20px; /* width of border */


    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background: conic-gradient(from 90deg at top var(--b) left var(--b),var(--_g)) 0 0 / var(--_p), conic-gradient(from 180deg at top var(--b) right var(--b),var(--_g)) 100% 0 / var(--_p), conic-gradient(from 0deg at bottom var(--b) left var(--b),var(--_g)) 0 100% / var(--_p), conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    /*Irrelevant code*/
    box-sizing: border-box;
    margin: 5px;
    display: inline-flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.semicircle {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 122px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-color: #ffffff33; /* Change the background color */
    border-radius: 0 0 0 100px; /* Border-radius to create a semicircle */
    opacity: 0.5;
}
.semicircle2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 122px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-color: #ffffff33; /* Change the background color */
    border-radius: 0 100px 0 0; /* Border-radius to create a semicircle */
    opacity: 0.5;
}